<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/admin/update}" th:object="${user}" method="post">
    <input type="hidden" readonly="readonly" th:field="*{id}"><br>
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username"><br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email"><br>
    <label for="password">Пароль</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Пароль"><br>
    <label for="role">Права доступа</label>
    <select id="role" th:field="*{role}">
        <option value="ADMIN">Администратор</option>
        <option value="MANAGER">Менеджер</option>
    </select><br>

    <input type="submit" value="Сохранить">
</form>
</body>
</html>